@import "./shared.scss";

.App {
  display: flex;

  &__sideNav {
    width: 30%;
    background-color: $primary;
    color: $light;
  }

  &__board {
    width: 70%;
    padding: 50px 100px;
    margin-right: 2em;
  }
}
