@import "./shared.scss";

.Modules {
  border: none;
  border-top: 1px solid $author;
  margin-top: 1em;
  color: $inactive;
  font-weight: bold;
  font-size: 0.8em;
}

.FooterNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  margin-top: 1em;

  &__back {
    color: $light-red;
  }

  &__forward {
    background-color: $secondary;
    padding: 0.9em 2.5em;
    border: unset;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
  }
}
