$primary: #222021;
$secondary: #ffca00;
$light: #ffffff;
$blue: #4982ff;
$light-blue: #a6c2ff;
$mark: #94e1b3;
$inactive: #a3a1a2;
$author: #e7e6e6;
$remark: #7a797a;
$subscribe: #94e1b3;
$light-red: #ffc4c4;
$hover: #fffae5;
